#main_tittle {
  background-color: #018fd1;
  color: white;
  font-weight: bold;
}

#data_section_top th {
  background-color: #018fd1;
  color: white;
}

.table{
    box-shadow: 0px 1px 1.5px ;
}

label{
  font-weight: bold;
  color: #696969;
}

.form-check-label{
  font-weight: 600;
  color: #696969
}

.form-control{
  border: none;
  border-bottom: 1px solid #C3C3C3;
}

.form-control:focus{
  border-color: #068ED0;
  box-shadow: none;
}

.form-group label {
  transition: all 0.2s ease-in-out;
}

.form-group:focus-within label{
  color: #068ED0;
}